<!DOCTYPE html>
<html>

<head>
  <title>!!!Please complete section 1 first!!!</title>
  <style>
    .heading-1-red { color: #FF0000; }
  </style>
</head>

<body style="font-size:24px">
	<center>
		<h1 class="heading-1">
		Error. Plots are not ready to be viewed<br>
		Please check for following possible causes:<br>
		<li> Cause 1: Section 1 not yet completed</li>
		<li> Cause 2: Section 1 completed but plot not yet prepared (if you are looking at interactive scatter plot)</li>
		</h1>
		<h1>--------------------------------------------------------------------------------------------------------------------</h1>
		<h1 class="heading-1">**Cause 1**</h1>
		<h1 class="heading-1-red">!!!Please complete section 1 first to generate: </h1>
		<li>Needed Dataframe with specified RentalRate ranges</li>
		<li>Parameters for the charts</li>
		<h1>--------------------------------------------------------------------------------------------------------------------</h1>
		<h1 class="heading-1">**Cause 2**</h1>
		<h1 class="heading-1-red">!!!Please click on "Preparing Interactive Scatter Plot" first to generate plot: </h1>
		<h1 class="heading-1">!!!Press Back to return to previous page!!!</h1>
	</center>
</body>

</html>